<h1>Lista de Productos en Tiempo Real</h1>


<div>
    <br>
    Codigo:
    <input id="textoEntrada" type="text" alt="Introduce un mensaje">
    <br>
    Titulo: 
    <input id="textoEntrada" type="text" alt="Introduce un mensaje">
    <br>
    Descricion:
    <input id="textoEntrada" type="text" alt="Introduce un mensaje">
    <br>
    Precio:
    <input id="textoEntrada" type="text" alt="Introduce un mensaje">
    <br>
    Thumbnail:
    <input id="textoEntrada" type="text" alt="Introduce un mensaje">
    <br>
    Stock:
    <input id="textoEntrada" type="text" alt="Introduce un mensaje">
    <br>
    Categoria:
    <input id="textoEntrada" type="text" alt="Introduce un mensaje">
    <br>
    Status:
    <input id="textoEntrada" type="text" alt="Introduce un mensaje">
    <br>
    <button id="textoEntrada">
    <h3 id="enviar">Crear Producto</h3>
    </button>
</div>

<div>
    <ul>
  {{#each products}}
    <li>ID del Producto: {{this.productId}}</li>
    <li>Codigo: {{this.code}}</li>
    <li>Titulo: {{this.title}}</li>
    <li>Descricion: {{this.description}}</li>
    <li>Precio: {{this.price}}</li>
    <li>Thumbnail: {{this.thumbnail}}</li>
    <li>Stock: {{this.stock}}</li>
    <li>Categoria: {{this.category}}</li>
    <li>Status: {{this.status}}</li>
    <br>
  {{/each}}
</ul>
</div>
<div> 
  <p id="log"></p>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProduct.js"></script>



