<h1>Lista de Productos en Tiempo Real</h1>

<form >
  <div>
    <div>
      <br>
      Codigo:
      <input id="codigo" type="text">
    </div>
    <div>
      <br>
      Titulo: 
      <input id="titulo" type="text" alt="Introduce un mensaje">
    </div> 
    <div>
      <br>
      Descricion:
      <input id="descripcion" type="text" alt="Introduce un mensaje">
    </div>
    <div>
      <br>
      Precio:
      <input id="precio" type="text" alt="Introduce un mensaje">
      </div>
      <div>
      <br>
      Thumbnail:
      <input id="thumbnail" type="text" alt="Introduce un mensaje">
      </div>
      <div>
      <br>
      Stock:
      <input id="stock" type="text" alt="Introduce un mensaje">
      </div>
      <div>
      <br>
      Categoria:
      <input id="categoria" type="text" alt="Introduce un mensaje">
      </div>
      <div>
      <br>
      Status:
      <input id="status" type="text" alt="Introduce un mensaje">
      </div>
      <br>
      <button id="btnCrearProducto">
      <h3>Crear Producto</h3>
      </button>
  </div>
</form>


<div>
    <ul>
  {{#each products}}
    <li>ID del Producto: {{this.productId}}</li>
    <li>Codigo: {{this.code}}</li>
    <li>Titulo: {{this.title}}</li>
    <li>Descricion: {{this.description}}</li>
    <li>Precio: {{this.price}}</li>
    <li>Thumbnail: {{this.thumbnail}}</li>
    <li>Stock: {{this.stock}}</li>
    <li>Categoria: {{this.category}}</li>
    <li>Status: {{this.status}}</li>
    <br>
  {{/each}}
</ul>
</div>
<div> 
  <p id="log"></p>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProduct.js"></script>



