

<div>
    <h1>Carritos </h1>
    
    {{#each carts}}
    <h2>Cart{{@index}} {{user._id}}</h2>
        {{#each this.products}}
            <li>Codigo: {{this.product.code}}</li>
            <li>Titulo: {{this.product.title}}</li>
            <li>Descricion: {{this.product.description}}</li>
            <li>Precio: {{this.product.price}}</li>
            <li>Thumbnail: {{this.product.thumbnail}}</li>
            <li>Stock: {{this.product.stock}}</li>
            <li>Categoria: {{this.product.category}}</li>
            <li>Status: {{this.product.status}}</li>
            <br>
        {{/each}}
    {{/each}}
</div>
