<h1>Lista de Productos con mongo</h1>

    <form >
    <div>
        <div>
        <br>
        Codigo:
        <input id="codigo" type="text">
        </div>
        <div>
        <br>
        Titulo: 
        <input id="titulo" type="text" alt="Introduce un mensaje">
        </div> 
        <div>
        <br>
        Descricion:
        <input id="descripcion" type="text" alt="Introduce un mensaje">
        </div>
        <div>
        <br>
        Precio:
        <input id="precio" type="text" alt="Introduce un mensaje">
        </div>
        <div>
        <br>
        Thumbnail:
        <input id="thumbnail" type="text" alt="Introduce un mensaje">
        </div>
        <div>
        <br>
        Stock:
        <input id="stock" type="text" alt="Introduce un mensaje">
        </div>
        <div>
        <br>
        Categoria:
        <input id="categoria" type="text" alt="Introduce un mensaje">
        </div>
        <div>
        <br>
        Status:
        <input id="status" type="text" alt="Introduce un mensaje">
        </div>
        <br>
        <div>
            <button id="btnCrearProducto">
            <h3>Crear Producto</h3>
            </button>
        </div>
        <div>
            <h3>ID del Producto a Eliminar</h3>
            <input type="string" id="delId" alt="Introduce un mensaje"/>
            <button type="submit" id="delButton">Eliminar</button>
        </div>
    </div>
    </form>
<br>
<div> 
  <p id="log"></p>
</div>
<div>
      {{#each products}}
        <li>Codigo: {{this.code}}</li>
        <li>Titulo: {{this.title}}</li>
        <li>Descricion: {{this.description}}</li>
        <li>Precio: {{this.price}}</li>
        <li>Thumbnail: {{this.thumbnail}}</li>
        <li>Stock: {{this.stock}}</li>
        <li>Categoria: {{this.category}}</li>
        <li>Status: {{this.status}}</li>
        <br>
      {{/each}}
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/products.js"></script>

