
<h1>Lista de Productos con mongo</h1>

    <form >
    <div>
        <div>
            <p>Formulario para agregar un nuevo producto a la DB</p>
        <br>
        Codigo:
        <input id="codigo" type="text">
        </div>
        <div>
        <br>
        Titulo: 
        <input id="titulo" type="text" alt="Introduce un mensaje">
        </div> 
        <div>
        <br>
        Descricion:
        <input id="descripcion" type="text" alt="Introduce un mensaje">
        </div>
        <div>
        <br>
        Precio:
        <input id="precio" type="text" alt="Introduce un mensaje">
        </div>
        <div>
        <br>
        Thumbnail:
        <input id="thumbnail" type="text" alt="Introduce un mensaje">
        </div>
        <div>
        <br>
        Stock:
        <input id="stock" type="text" alt="Introduce un mensaje">
        </div>
        <div>
        <br>
        Categoria:
        <input id="categoria" type="text" alt="Introduce un mensaje">
        </div>
        <div>
        <br>
        Status:
        <input id="status" type="boolean" alt="Introduce un mensaje" placeholder="Ingresa true o false">
        </div>
        <br>
        <div>
            <button id="btnCrearProducto">
            <h3>Crear Producto</h3>
            </button>
        </div>
        <div>
            <h3>Eliminar Producto</h3>
            <input type="string" id="delId" placeholder="ID del producto a eliminar"/>
            <button type="submit" id="delButton">Eliminar</button>
        </div>
    </div>
    </form>
<br>
    <h2>Listado de Productos</h2>

<div> 
  <p id="log"></p>
</div>




{{#if isValid}}
<div>
    {{#each docs}}
     
        <li>Codigo: {{this.code}}</li>
        <li>Titulo: {{this.title}}</li>
        <li>Descricion: {{this.description}}</li>
        <li>Precio: {{this.price}}</li>
        <li>Thumbnail: {{this.thumbnail}}</li>
        <li>Stock: {{this.stock}}</li>
        <li>Categoria: {{this.category}}</li>
        <li>Status: {{this.status}}</li>
        <form>
            <input type="text" id="cartId" placeholder="Ingresa el ID del carrito">
            <button type="submit" id="cartIdButton" class="cartButton" data-product-id="{{this._id}}">Agregar al carrito</button>
        </form>
        
        <br>
        <br>
    {{/each}}
</div>
<br/>
<div>
    {{#if hasPrevPage}}
        <a href={{this.prevLink}}><< Anterior</a>
    {{/if}}
    &nbsp;
    {{this.page}}
    &nbsp;
     {{#if this.hasNextPage}}
        <a href={{nextLink}}>Siguiente >></a>
    {{/if}} 
</div>
{{else}}
<h1>No hay productos</h1>
{{/if}}




<script src="/socket.io/socket.io.js"></script>
<script src="/js/products.js"></script>
